#container {
    text-align: center;
    padding: 12%;
    
}

#textInput{
    align-content: center;
    height: 34px;
    width: 300px;
    font-size: 35px;
    padding: 1%
}

#inputSomethingButton{
    box-sizing: content-box;
    height: 40px;
    width: 67px;
    font-size: 35px;
}

#list{
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: rgb(229, 232, 235);
    font-size: 35px;
    color: black;
    margin: auto;
} 

#removeAllButton{
    box-sizing: content-box;
    height: 40px;
    width: auto;
    font-size: 35px;
}